<h5>注文履歴一覧</h5>

<div class="container">
  <div class="row">
    
    <table class="table col-md-12">
      <thead class="thead-light">
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>注文詳細</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!--以下eachで注文の繰り返し-->
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
        
  </div>
</div>

