<h5>注文履歴詳細</h5>

<div class="container">

  <div class="row">

    <p>注文情報</p>
    <table class="table col-md-6">
      <tr>
        <th class="table-secondary">注文日</th>
        <td><%= @order_detail.created_at %></td>
      </tr>
      <tr>
        <th class="table-secondary">配送先</th>
        <td></td>
      </tr>
      <tr>
        <th class="table-secondary">支払方法</th>
        <td></td>
      </tr>
    </table>


    <p>請求情報</p>
    <table class="table col-md-3">
      <tr>
        <th class="table-secondary">商品合計</th>
        <td></td>
      </tr>
      <tr>
        <th class="table-secondary">配送先</th>
        <td></td>
      </tr>
      <tr>
        <th class="table-secondary">ご請求額</th>
        <td></td>
      </tr>
    </table>

  </div>


  <div class="row">
    <p>注文内容</p>
    <table class="table col-md-8">
      <thead class="thead-light">
        <tr>
          <th>商品</th>
          <th>単価（税込）</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!--以下eachで注文の繰り返し-->
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

